@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.beHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .outline {
      background-color: transparent;
      color: $primary-color;
    }
  }
}
