@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.projCell {
  gap: 0.5rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    background-color: transparent;
    border: none;

    img {
      width: 0.6rem;
    }

    p {
      font-weight: $font-medium;
    }
  }
}
