
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Run compiled server with iisnode -->
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Rewrite all requests to Node server -->
        <rule name="NextJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
