@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  .loader {
    width: 2rem;
    height: 2rem;
    @include border;

    border-width: 4rem;
    border-radius: 5rem;
    border-top-color: $secondary-color;
    animation: rotate 1s infinite;
  }

  p {
    font-weight: $font-medium;
    color: $primary-color;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }
}
