@import "@/src/styles/variables.scss";

.Navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $navbar-color;
  z-index: 99;

  img {
    width: 6rem;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: $font-medium;

    img {
      width: 1.75rem;
    }

    .logout {
      width: 2rem;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
