$primary-color: #082340;
$secondary-color: #f15840;
$white: #ffffff;
$black: #141414;
$box-shadow: #ededed;
$desc-color: #adadad;
$label-color: #6b6b6b;
$border-color: #f1f1f1;
$background-color: #fafafa;
$navbar-color: darken(
  $color: $background-color,
  $amount: 5%,
);

$font-bold: 700;
$font-medium: 500;
$font-light: 300;
$font-regular: 400;
