@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.FinancialYearButtonsContainer {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
  background-color: $navbar-color;
}
